body {
  overflow: hidden;
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.expanding_div {
  position: fixed;
  animation-name: expand;
  animation-duration: 1s;
  z-index:1000;
}

.collapsing_div {
  position: fixed;
  animation-name: expand;
  animation-duration: 1s;
  animation-direction: reverse;
  z-index:1000;
}

@-webkit-keyframes fadein{
    from { opacity: 1; }
    to { opacity: 0; }
}

.fading{
  -webkit-animation: fadein 5s linear 1 normal forwards;
}


.highlighted {
  background-color: #FFFFFF33;
  border: 1px dotted;
}

@keyframes expand {
  0%   {width: 1px; height: 1px;}
  100% {left:0px; top:0px; width: 100%; height: 100%; }
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}


#glitch {
   width:200%;
   height:200%;
   background-image: url("assets/screens/noise.png");
   background-repeat: no-repeat;
   z-index:9000001;
   position:fixed;
   top:-100px;
   left:-100px;
   visibility:hidden;
   /* opacity: 0.5; */
   /* mix-blend-mode: color-dodge; */
   /* mix-blend-mode: color-burn; */
   mix-blend-mode: difference;
   /* mix-blend-mode: exclusion; */
}


#level{
  width:100%;
  height:100%;
  position: absolute;
}
